*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid black;
    justify-items: center;
}

.box{
    background-color: blanchedalmond;
    color: black;
    padding: 5px ;
    border: 1px solid #8c8b8b;
    justify-self: center;
}